# Project Chainsaw
Top Movies from IMDB

<hr>

In [8]:
# Imports
from IPython.display import Markdown, display, clear_output,HTML
import sys
sys.path.append("C:/Users/Thome Theron/Documents/chainsaw")
from lib.moviedata import MovieData
from lib.movieratings import Ratings

rating_data_file_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
movie_titles_file_url = "https://datasets.imdbws.com/title.basics.tsv.gz"

print("Load rating data and calculate top ranked ")
_ratings = Ratings(rating_data_file_url,local_file_location="../data/" )

df_top_ranked_movies = _ratings.get_top_titles_df()
top_ranked_movies_keys_arr_str = _ratings.get_top_titles_keys_str()
print(top_ranked_movies_keys_arr_str)

print("Load top titles")
_top_titles = MovieData(data_file_url=movie_titles_file_url ,local_file_location="../data/",data_filter="tconst in "+top_ranked_movies_keys_arr_str)

df_top_titles = _top_titles.data_df

clear_output()
display(HTML("<strong>Imports copleted.</strong>"))
display(HTML("<strong>Data Downloaded:</strong>"))
display(HTML("<strong>Data Loaded and filtered.</strong>"))
display(HTML("<p>1.title.ratings - loaded and rank applied</p>"))
display(df_top_ranked_movies)
display(HTML("<p>2.title.basics - loaded and filtered and Top N Top 15) Loaded</p>"))
display(df_top_titles)
display(HTML("<hr>"))

           tconst  averageRating  numVotes         rank
82604   tt0111161            9.3   2591305  5917.919199
251506  tt0468569            9.0   2562097  5662.466256
633494  tt1375666            8.8   2273755  4913.533132
436558  tt0944947            9.2   1988892  4493.312023
99245   tt0137523            8.8   2040105  4408.620766
82388   tt0110912            8.9   1986982  4342.616609
81512   tt0109830            8.8   2000071  4322.108197
426204  tt0903747            9.5   1737319  4052.945130
46266   tt0068646            9.2   1786583  4036.254796
97042   tt0133093            8.7   1861579  3977.116139
114642  tt0167260            9.0   1780349  3934.732423
90402   tt0120737            8.8   1801549  3893.106645
398662  tt0816692            8.6   1734126  3662.238724
114643  tt0167261            8.8   1607974  3474.795448
620327  tt1345836            8.4   1655524  3414.934017

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
67278,tt0068646,movie,The Godfather,The Godfather,0,1972,\N,175,"Crime,Drama"
107366,tt0109830,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance"
108429,tt0110912,movie,Pulp Fiction,Pulp Fiction,0,1994,\N,154,"Crime,Drama"
108676,tt0111161,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama
117851,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Action,Adventure,Drama"
129410,tt0133093,movie,The Matrix,The Matrix,0,1999,\N,136,"Action,Sci-Fi"
133600,tt0137523,movie,Fight Club,Fight Club,0,1999,\N,139,Drama
161646,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Action,Adventure,Drama"
161647,tt0167261,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002,\N,179,"Action,Adventure,Drama"
450159,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama"
791159,tt0816692,movie,Interstellar,Interstellar,0,2014,\N,169,"Adventure,Drama,Sci-Fi"
875262,tt0903747,tvSeries,Breaking Bad,Breaking Bad,0,2008,2013,49,"Crime,Drama,Thriller"
915113,tt0944947,tvSeries,Game of Thrones,Game of Thrones,0,2011,2019,57,"Action,Adventure,Drama"
2870158,tt1345836,movie,The Dark Knight Rises,The Dark Knight Rises,0,2012,\N,164,"Action,Crime,Drama"
3032564,tt1375666,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi"

## Join Titles to Top Ranked Movies

In [37]:
# Load and rank movies
df_top_ranked_movies #tconst, rank
df_top_titles
dfy=df_top_ranked_movies.set_index("tconst").join(df_top_titles.set_index("tconst"), how="left", on="tconst", rsuffix="_").reset_index()
dfy[["primaryTitle","rank"]]

                                         primaryTitle         rank
0                            The Shawshank Redemption  5917.919199
1                                     The Dark Knight  5662.466256
2                                           Inception  4913.533132
3                                     Game of Thrones  4493.312023
4                                          Fight Club  4408.620766
5                                        Pulp Fiction  4342.616609
6                                        Forrest Gump  4322.108197
7                                        Breaking Bad  4052.945130
8                                       The Godfather  4036.254796
9                                          The Matrix  3977.116139
10      The Lord of the Rings: The Return of the King  3934.732423
11  The Lord of the Rings: The Fellowship of the Ring  3893.106645
12                                       Interstellar  3662.238724
13              The Lord of the Rings: The Two Towers  3474.795448
14                              The Dark Knight Rises  3414.934017