In [32]:
import sys

sys.path.append("C:/Users/Thome Theron/Documents/chainsaw")
from lib.moviedata import MovieData
from lib.movieratings import Ratings

rating_data_file_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
movie_titles_file_url = "https://datasets.imdbws.com/title.basics.tsv.gz"

print("Load rating data and calculate top ranked ")
_ratings = Ratings(rating_data_file_url,local_file_location="../data/" )

df_top_ranked_movies = _ratings.get_top_titles_df()
top_ranked_movies_keys_arr_str = _ratings.get_top_titles_keys_str()
print(top_ranked_movies_keys_arr_str)

print("Load top titles")
_top_titles = MovieData(data_file_url=movie_titles_file_url ,local_file_location="../data/",data_filter="tconst in "+top_ranked_movies_keys_arr_str)

df_top_titles = _top_titles.data_df

Load rating data and calculate top ranked
['tt0111161','tt0468569','tt1375666','tt0944947','tt0137523','tt0110912','tt0109830','tt0903747','tt0068646','tt0133093','tt0167260','tt0120737','tt0816692','tt0167261','tt1345836',0]
Load top titles

C:\Users/Thome Theron/Documents/chainsaw\lib\moviedata.py:73: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  self.__data_df = pd.read_csv(data_file_path, compression=data_file_compression,

In [37]:
df_top_ranked_movies #tconst, rank
df_top_titles
dfy=df_top_ranked_movies.set_index("tconst").join(df_top_titles.set_index("tconst"), how="left", on="tconst", rsuffix="_").reset_index()
dfy[["primaryTitle","rank"]]

                                         primaryTitle         rank
0                            The Shawshank Redemption  5917.919199
1                                     The Dark Knight  5662.466256
2                                           Inception  4913.533132
3                                     Game of Thrones  4493.312023
4                                          Fight Club  4408.620766
5                                        Pulp Fiction  4342.616609
6                                        Forrest Gump  4322.108197
7                                        Breaking Bad  4052.945130
8                                       The Godfather  4036.254796
9                                          The Matrix  3977.116139
10      The Lord of the Rings: The Return of the King  3934.732423
11  The Lord of the Rings: The Fellowship of the Ring  3893.106645
12                                       Interstellar  3662.238724
13              The Lord of the Rings: The Two Towers  3474.795448
14                              The Dark Knight Rises  3414.934017